:root {
  --white: #fff;
  --primary-darkest: #170f2e;
  --primary-darker: #312163;
  --primary-dark: #5531a7;
  --primary-default: #9251f7;
  --primary-light: #c696fc;
  --primary-lighter: #efe2f9;
  --primary-lightest: #f8f2fc;
  --secondary-darker: #1f2347;
  --secondary-dark: #2a337e;
  --secondary-default: #516cf7;
  --secondary-light: #95aafb;
  --secondary-lighter: #e1e7fe;
  --secondary-lightest: #f5f7ff;
  --gray-darkest: #232339;
  --gray-darker: #2e2e48;
  --gray-dark: #47516b;
  --gray-default: #79819a;
  --gray-light: #acb1c3;
  --gray-lighter: #d9dfe8;
  --gray-lightest: #e2e6ee;
  --gray-lightest-2: #f7f9fc;
  --status-info: #22c3f1;
  --status-success-light: #e7fae5;
  --status-success: #4ac06f;
  --status-success-dark: #1f5c43;
  --status-warning-light: #fefcbf;
  --status-warning: #f4ce10;
  --status-warning-dark: #857129;
  --font-family: "Outfit", sans-serif;
  --second-family: "DM Sans", sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 14px;

}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.sidebar {
  background: rgb(174, 216, 238);
  background: radial-gradient(circle, rgba(174, 216, 238, 1) 27%, rgba(210, 224, 240, 1) 93%);
  max-width: 360px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__box {
  padding: 20px 40px;
}

.profile {
  width: 100%;
  margin-bottom: 20px;
}

.profile__image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  object-fit: cover;
}

.profile__name {
  font-size: 1.5em;
  margin: 0;

}

.profile__title {
  font-size: 16px;

  color: #a478e8;
  margin: 5px 0;
}

.profile__quote {
  font-style: italic;
  color: var(--gray-dark);
  margin-top: 10px;
}

.contact-info,
.socials,
.languages {
  width: 100%;
}

.contact-info__list,
.socials__list,
.languages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info__item-img {

  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.contact-info__item,
.socials__item,
.languages__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

}

.contact-info__link {
  color: #0073e6;
  text-decoration: none;
}

.main-content {
  /* width: 70%; */
  padding: 40px 50px;
}

section {
  margin-bottom: 40px;
}

.experience__title,
.skills__title,
.education__title,
.projects__title,
.tools__title {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.experience__list,
.education__list,
.projects__list,
.tools__list {
  list-style: none;
  padding: 0;
}

.experience__item,
.education__item,
.projects__item,
.tools__item {
  margin-bottom: 20px;
  padding: 10px;
  background: var(--gray-lightest-2);


  border-radius: 5px;
}

.skills__categories {
  display: flex;
  justify-content: space-between;
}

.skills__category {
  width: 48%;
}

.skills__list {
  list-style: none;
  padding: 0;
}

.skills__item {
  margin-bottom: 10px;
  display: flex;
}

.skills__item-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.languages__item-img {
  width: 20px;
  height: 15px;
  margin-right: 20px;
}

.social__item-img {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.profile__title,
.languages__title,
.socials__title {
  margin-bottom: 30px;
}

.section {
  position: relative;

}

.section::before {
  content: "";
  position: absolute;
  left: -55px;
  top: 8px;
  width: 10px;
  height: 10px;
  background-color: #0073e6;
  border-radius: 50%;
  padding: 5px;
  z-index: 5;
}

.section::after {
  content: "";
  position: absolute;
  left: -70px;
  top: -7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 6px 24px 0 rgba(0, 0, 0, 0.04), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}

.skills__category--development {
  display: flex;
  align-items: center;
}

.skills__category-title {
  margin-right: 30px;
}


.skills__category-box {
  display: flex;
  flex-direction: column;

}

.skills__category-image {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.skills__item {
  font-size: 18px;
  padding: 20px;
  background: var(--gray-lightest-2);
  margin-right: 10px;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  max-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-default);
}

.education__list {
  display: flex;
  flex-wrap: wrap;
}

.education__item {
  padding: 20px;
  min-width: 180px;

}

.education__info-text {
  margin-bottom: 5px;
  font-weight: 700;
}

.education__info-date {
  color: var(--gray-default);
  font-size: 12px;
}

.education__item:not(:last-child) {
  margin-right: 10px;
}

.education__course {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.education__course-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.education__info-certificat {
  width: 45px;
  height: 25px;
}

.education__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  display: flex;
  flex-direction: column;
}

.projects__item-image {
  min-width: 200px;

  height: 140px;
}

.projects__item:not(:last-child) {
  margin-right: 10px;
}

.projects__content {
  padding: 10px;
}

.projects__content-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.projects__content-link {
  display: flex;
  align-items: center;
  color: var(--secondary-default);
}

.projects__content-link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.tools__list {
  display: flex;
}

.tools__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 140px;
  width: 100%;

}

.tools__item-title {
  margin-bottom: 5px;
}

.tools__item-descr {
  text-align: center;
}

.tools__item:not(:last-child) {
  margin-right: 20px;
}

.tools__item-img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.experience__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.experience__item {
  display: flex;
}

.experience__item-title {
  font-size: 14px;
}

.experience__item-img {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.experience__item-desc {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}

.experience__item-desc::before {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  background-image: url('/images/ico/location-mini.svg');
  background-size: cover;
  width: 12px;
  height: 15px;
}









@media (max-width: 850px) {
  .skills__list {

    grid-template-columns: repeat(3, 1fr);
  }

  .skills__item {
    font-size: 14px;
  }

  .tools__list {
    justify-content: center;
    flex-wrap: wrap;
  }
}


@media (max-width: 690px) {

  .main-content {
    padding: 40px 20px;
  }

  .section::after {
    left: -33px;
    top: 0px;
    width: 25px;
    height: 25px;
  }

  .section::before {
    left: -25px;
  }

  .tools__item:not(:last-child) {
    margin-right: 0;
  }

  .skills__list {

    grid-template-columns: repeat(2, 1fr);
  }

  .sidebar__box {
    padding: 20px 30px 20px 10px;
  }

  .contact-info__item-img {
    margin-right: 5px;
  }

  .social__item-img {
    margin-right: 10px;
  }

  .education__list {
    justify-content: center;
  }

  .education__item {
    padding: 10px;
    min-width: 150px;
  }



  .skills__category--development {
    flex-direction: column;
    justify-content: center;
  }

  .skills__categories {

    justify-content: center;
  }

  .skills__category-box {
    margin-bottom: 20px;
  }

  .experience__list {
    font-size: 12px;
  }

  .experience__item {
    flex-direction: column;
  }

  .experience__item-title {
    font-size: 12px;
  }

  .experience__item-desc {
    font-size: 10px;
  }

  .experience__item-img {
    margin-right: 0;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
  }

  .experience__item-desc::before {
    top: 10px;
  }
}